@use "./variables.scss" as *;

// put your custom CSS here!
@use "themes";



// #dcdee2
body {
  code {
    background-color: #dcdee2;
  }

  .callout[data-callout=note] {
    background-color: #ffe1c1;
    margin-left: 2em;
  }

  h2,
  h3 {
    padding-left: 0.5em;
  }

  h2 {
    border-top: 1px solid #254800;
    background-color: #d4fed3;
    font-weight: bold;
    margin-top: 1em;
  }

  h3 {
    color: black;
    border-top: 1px solid #001648;
    background-color: #d7e1ff;
    margin-top: 1em;
  }
}