@use "./variables.scss" as *;

// put your custom CSS here!
@use "themes";


.theme-light {
  #quartz-body {
    .sidebar.left {
      background-color: #1a1b26; // match the left sidebar
    }

    .sidebar.right {
      background-color: #16161e; // match the right sidebar
    }
  }
}

#quartz-body {
  --tab-container-background: var(--bg); // match the left sidebar
}